@charset "UTF-8";
/*@charset para usae acentuacoes do portugues*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -25px auto 0 auto;
    box-shadow: 0px 0px 10px grey;
    padding: 10px;
}

p { /*estilizando o paragrafo*/
text-align: justify; 
text-indent: 50px;    
}

header#cabecalho img#icone {
    position: absolute;
    left: 950px;
    top: 50px;
}

header#cabecalho {
    border-bottom: 1px, #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 109px;
}

header#cabecalho h1 {
    font-family: FonteLogo, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20pt;
    color: #888888;
    padding: 0px;
}

.hr {
    margin-top: 55px;
}

/*Formatacao de imagens com legendas*/

figure.foto-legenda { /*chamando a class no html pada class usa. e para id#*/
    position: relative; /*objeto container pai*/
    border: 8px solid white; /*tamanho e cor da borda*/
    box-shadow: 1px 1px 4px black ; /*sombra do box*/
}
figure.foto-legenda img { /*organizando o tamanho da imagem para manter o tamanho da imagem certo*/
    width: 100%;
    height: 100%;
} 

figure.foto-legenda figcaption {
    opacity: 0; /* opacidade da legenda e so aparecer quando o mouse passar por cima coligado com o hover*/
    position: absolute;/*objeto container filho posicao absoluta dentro do seu container*/
    top: 0px; /*para nao ficar no top da pagina tera que ser configurado a posicao relativa*/
    background-color: rgba(0,0,0,.4);/*camada do box com transparencia*/
    color: white; /*legenda branca*/
    width: 100%; /*ocupar todo o espaco dentro da imagem*/
    height: 100%; /*ocupar todo o espaco dentro da imagem*/
    padding: 10px; /*espaco dentro da legenda*/
    box-sizing: border-box;/*para o padding ficar com o tamanho certo*/
    transition: 1s; /*tempo de tranzicao quando o mouse passar por cima*/
}
 figure.foto-legenda:hover figcaption {
     opacity: 100%; /* efeito conjunto com a opacidade 0*/
 }

/* Formatacao do menu nav (Navegador)*/

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}

 nav#menu h1 {
     display: none;
 }

 nav#menu a {
     color: #000000;
     text-decoration: none;
 }

 nav#menu a:hover {
     color: #ffffff;
 }

section#corpo {
    margin-top: 18px;
    display: block;
    width: 520px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

#tabela-spec {
    border: 1px solid #606060 ;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabela-spec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
}

aside#lateral {
    display: block;
    width: 350px;
    float: right;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}